.boekSelectie_cover {
  max-width: 100px;
}
.boekSelectie__rij--accent {
  background-color: #def;
}
.boekSelectie__data-cel {
  padding: 1em;
  vertical-align: top;
}
.boekSelectie__data-cel:nth-child(3) {
  padding: 0;
}

#validatie img {
    height: 2em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}

/* layout van de section */
.boekSelectie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.boekSelectie__prijs {
  font-size: 2em;
}
